.navbar{
    display: flex;
    align-items: flex-start;
    background-color: gray;
    padding: 10px;
}
.navbar li{
    list-style: none;
    margin-left: 20px;
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.navbar li a:hover{
    background-color: black;
}